*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

html{
    background: #f2f2f2;
}

.wrapper{
    display: grid;
    height: 100%;
    margin-top: 10%;
    place-items: center;
    background: #f2f2f2;
}

.forecastBody{
    width: 75%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    box-sizing: border-box;
    background-color: #2c3f99 ;
}

.forecastHeader{
    color: #fff;
    line-height: 100px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrapper h1{
    float: left;
    padding-left: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.forecastHeader select{
    color: #fff;
    padding: 1rem;
    border: none;
    outline: none;
    width: 300px;
    border-radius: 15px;
    background: #4158d0;
    font-size: 1.5rem;
}

.daily{
    float: left;
    display: flex;
    padding: 20px;

    width: 320px;
    height: 350px;
    background-image: url('../img/01d.jpg');
    background-color: #4158d0;
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 0 0 15px 15px;

}

.daily_header{
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 300px;
}

.daily_header > *{
    margin: 5px;
}

.daily_header h4{
    color: rgba(255, 255, 255, 0.6)
}

.daily_weather{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.daily_weather h2{
    color: #f2f2f2;
    font-size: 2.5rem;
    font-weight: 500;
}

.daily_weather h4{
    color: rgba(255, 255, 255, 0.6)
}

.weekly{
    justify-content: space-between;
    padding: 5;
}

.description_content {
    display: flex;
    flex-direction: column;
    
}

.info{
    background: #6080e0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex: auto;
    padding: 5px;
    margin: 2px;
    color: #f2f2f2;
    font-size: 1.5rem;
}

.otherdays{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: auto;
    margin: 4px;
    color: #f2f2f2;
}

.otherdays_content{
    width: 150px;
    color: #f2f2f2;
    background: #1d2a73;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

